workflow.json
{
  "name": "Snorkel RAG Evaluation Pipeline",
  "id": "CzPeQdps0o9VB9Ym",
  "description": "Snorkel-inspired agentic RAG eval pipeline: synthetic adversarial question generation → programmatic citation + rubric evaluation → 90% pass-rate gate → expert human-in-the-loop calibration loop with Supabase golden dataset logging.",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "connections": {
    "Daily Evaluation Schedule": {"main": [[{"node": "Extract PDF Content", "type": "main", "index": 0}]]},
    "Extract PDF Content": {"main": [[{"node": "Prepare Eval Context", "type": "main", "index": 0}]]},
    "Prepare Eval Context": {"main": [[{"node": "Synthetic Eval Data Generator", "type": "main", "index": 0}]]},
    "Synthetic Eval Data Generator": {"main": [[{"node": "Split Questions Into Items", "type": "main", "index": 0}]]},
    "GPT-4o (Question Generator)": {"ai_languageModel": [[{"node": "Synthetic Eval Data Generator", "type": "ai_languageModel", "index": 0}]]},
    "Question Set Schema": {"ai_outputParser": [[{"node": "Synthetic Eval Data Generator", "type": "ai_outputParser", "index": 0}]]},
    "Split Questions Into Items": {"main": [[{"node": "Evaluate Each Question", "type": "main", "index": 0}]]},
    "Aggregate All Eval Results": {"main": [[{"node": "Calculate Pass Rate", "type": "main", "index": 0}]]},
    "Calculate Pass Rate": {"main": [[{"node": "Route by Pass Rate", "type": "main", "index": 0}]]},
    "Route by Pass Rate": {"main": [[{"node": "Log as Production Ready", "type": "main", "index": 0}], [{"node": "Expert Adjudication Form", "type": "main", "index": 0}]]},
    "Expert Adjudication Form": {"main": [[{"node": "Log Expert Correction to Golden Set", "type": "main", "index": 0}]]},
    "Call Target RAG Agent": {"main": [[{"node": "Bundle Question and Agent Answer", "type": "main", "index": 0}]]},
    "Bundle Question and Agent Answer": {"main": [[{"node": "Programmatic Evaluator Agent", "type": "main", "index": 0}]]},
    "Programmatic Evaluator Agent": {"main": [[{"node": "Flatten Eval Result", "type": "main", "index": 0}]]},
    "GPT-4o (Programmatic Evaluator)": {"ai_languageModel": [[{"node": "Programmatic Evaluator Agent", "type": "ai_languageModel", "index": 0}]]},
    "citation_checker": {"ai_tool": [[{"node": "Programmatic Evaluator Agent", "type": "ai_tool", "index": 0}]]},
    "snorkel_rubric_evaluator": {"ai_tool": [[{"node": "Programmatic Evaluator Agent", "type": "ai_tool", "index": 0}]]},
    "Eval Result Schema": {"ai_outputParser": [[{"node": "Programmatic Evaluator Agent", "type": "ai_outputParser", "index": 0}]]},
    "Flatten Eval Result": {"main": [[{"node": "Evaluate Each Question", "type": "main", "index": 0}]]},
    "Evaluate Each Question": {"main": [[{"node": "Aggregate All Eval Results", "type": "main", "index": 0}], [{"node": "Call Target RAG Agent", "type": "main", "index": 0}]]},
    "PDF Upload Trigger": {"main": [[{"node": "Extract PDF Content", "type": "main", "index": 0}]]}
  },
  "nodes": [
    {"id": "ddc2e718-4ebc-49b4-aabd-7179bb233e8c", "name": "Sticky Note a44b60ae", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1376, 704], "parameters": {"content": "## Snorkel RAG Evaluation Pipeline\n\n**Architecture**: Synthetic Generation → Programmatic Eval → Expert Calibration Loop\n\n### Prerequisites\n- Env var: TARGET_AGENT_API_KEY\n- Credentials: OpenAI API, Supabase\n- Supabase tables: eval_results, expert_corrections\n\n### How It Works\n1. PDF uploaded (webhook) or daily schedule fires eval run\n2. GPT-4o generates 10 adversarial questions from the document\n3. Each question is sent to the target RAG agent under test\n4. Programmatic evaluator scores: citation check + rubric compliance\n5. Pass rate >= 90% → Production Ready log in Supabase\n6. Pass rate < 90% → Expert form pauses execution for human calibration\n7. Expert correction logged to golden training dataset in Supabase", "color": 4}},
    {"id": "b86ed397-009f-4b8c-b03e-0f7f453c6978", "name": "Daily Evaluation Schedule", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, 336], "parameters": {"rule": {"interval": [{"field": "days", "daysInterval": 1}]}}},
    {"id": "16675794-b463-4a4a-ae32-e53387aaea74", "name": "PDF Upload Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 528], "parameters": {"httpMethod": "POST", "responseMode": "responseNode", "path": "snorkel-eval-upload"}, "webhookId": "b65e27ca-a3be-405a-b36f-a3b27906ca35"},
    {"id": "0a2fa316-05d0-4715-8a28-dd6d2e8c6652", "name": "Extract PDF Content", "type": "n8n-nodes-base.extractFromFile", "typeVersion": 1.1, "position": [224, 432], "parameters": {"operation": "pdf"}},
    {"id": "d8525846-bd56-4662-9256-216e29c6c55d", "name": "Prepare Eval Context", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [448, 432], "parameters": {"mode": "manual", "includeOtherFields": false, "assignments": {"assignments": [{"id": "doc-text", "name": "document_text", "value": "={{ $json.text }}", "type": "string"}, {"id": "eval-run-id", "name": "eval_run_id", "value": "={{ $execution.id }}", "type": "string"}, {"id": "doc-source", "name": "document_source", "value": "={{ $json.metadata?.source ?? \"uploaded_document\" }}", "type": "string"}, {"id": "started-at", "name": "started_at", "value": "={{ $now.toISO() }}", "type": "string"}]}}},
    {"id": "89070ffa-14d7-48b5-a6b8-6eae9fc614f6", "name": "Synthetic Eval Data Generator", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [672, 432], "parameters": {"promptType": "define", "systemMessage": "You are an expert AI evaluation engineer for Snorkel AI, specializing in adversarial test generation for enterprise RAG systems. You generate precise, intricate evaluation questions that expose weaknesses in legal document RAG agents. Always return structured JSON with a questions array.", "text": "=Generate exactly 10 intricate evaluation questions from this legal document to stress-test a RAG agent.\n\nDOCUMENT TEXT:\n{{ $json.document_text }}\n\nRequirements per question:\n- Reference specific sections by name (e.g. \"According to Section 4...\")\n- At least 4 must be multi-turn (cross-reference 2+ sections)\n- At least 3 must test conflict resolution between clauses\n- Include expected_citation the target agent MUST produce (e.g. [Section 4.2])\n- Cover edge cases: exceptions, limitations, compliance boundaries\n\nReturn structured JSON with a questions array.", "hasOutputParser": true}},
    {"id": "33c1cee1-5371-4cb7-9467-eea29c6f0d39", "name": "GPT-4o (Question Generator)", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [688, 656], "parameters": {"temperature": 0.7}},
    {"id": "a965c533-2cef-4d34-ac96-a97e3a5ea884", "name": "Question Set Schema", "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [816, 656], "parameters": {"schemaType": "fromJson", "jsonSchemaExample": "{\"questions\":[{\"id\":\"q1\",\"question\":\"According to Section 4, what is the liability cap and does it conflict with Section 9?\",\"source_sections\":[\"Section 4\",\"Section 9\"],\"complexity\":\"multi-turn\",\"expected_citation\":\"[Section 4.2]\"}]}"}},
    {"id": "dcfd6c24-f7e5-426c-bffa-52ba2922050b", "name": "Split Questions Into Items", "type": "n8n-nodes-base.splitOut", "typeVersion": 1, "position": [1024, 432], "parameters": {"fieldToSplitOut": "output.questions", "include": "allOtherFields"}},
    {"id": "17240637-9535-4ff1-85ce-624d2ff964fc", "name": "Evaluate Each Question", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [1248, 432], "parameters": {"batchSize": 1}},
    {"id": "4fb32327-af9f-493c-ac50-799d9728d0e3", "name": "Call Target RAG Agent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1472, 432], "parameters": {"method": "POST", "url": "<__PLACEHOLDER_VALUE__Target RAG Agent URL — e.g. https://your-agent.company.com/api/query__>", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $env.TARGET_AGENT_API_KEY }}"}]}, "sendBody": true, "contentType": "json", "specifyBody": "=\"keypair\"", "bodyParameters": {"parameters": [{"name": "question", "value": "={{ $json.question }}"}, {"name": "session_id", "value": "={{ $json.id }}"}, {"name": "mode", "value": "document_qa"}]}}},
    {"id": "27fe60af-49cc-402d-9a96-c4097e0578e8", "name": "Bundle Question and Agent Answer", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1696, 432], "parameters": {"mode": "manual", "includeOtherFields": true, "assignments": {"assignments": [{"id": "agent-answer", "name": "agent_answer", "value": "={{ $json.answer ?? $json.output ?? $json.response ?? \"ERROR: No answer returned\" }}", "type": "string"}, {"id": "answered-at", "name": "answered_at", "value": "={{ $now.toISO() }}", "type": "string"}]}}},
    {"id": "aca27f12-c673-4151-b746-5b162ee2029e", "name": "Programmatic Evaluator Agent", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [2048, 432], "parameters": {"promptType": "define", "systemMessage": "You are a Snorkel AI programmatic evaluator. Use deterministic code tools (citation_checker, snorkel_rubric_evaluator) to objectively score RAG agent responses. Never guess — always call both tools before synthesizing a final score. Return structured evaluation JSON.", "text": "=Evaluate this RAG agent response:\n\nQUESTION: {{ $json.question }}\nQUESTION ID: {{ $json.id }}\nREQUIRED SECTIONS: {{ JSON.stringify($json.source_sections) }}\nEXPECTED CITATION: {{ $json.expected_citation }}\n\nAGENT ANSWER:\n{{ $json.agent_answer }}\n\nExecute in order:\n1. Call citation_checker with the agent answer string\n2. Call snorkel_rubric_evaluator with: {\"response\":\"<agent answer>\",\"expected_sections\":<sections array>}\n3. final_score = (citation_score * 0.4) + (rubric_score * 0.6)\n4. passed = final_score >= 75\n5. If failed, set failure_mode: citation_missing | wrong_section | reasoning_gap | hallucination | edge_case", "hasOutputParser": true}},
    {"id": "553f6ff6-020f-4acd-9f13-bb606911aa3b", "name": "GPT-4o (Programmatic Evaluator)", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [1920, 656], "parameters": {"temperature": 0}},
    {"id": "4a363ac7-9298-45a6-b2fc-d31b53d7d407", "name": "citation_checker", "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.3, "position": [2048, 656], "parameters": {"description": "Deterministically checks if an agent response contains valid source citations like [Page X] or [Section Y]. Input: the agent response string. Returns JSON: {citation_found, citations_list, citation_score (0-100)}.", "language": "javaScript", "jsCode": "const response = query;\nconst patterns = [/\\[Page\\s+\\d+\\]/gi, /\\[Section\\s+[\\d.]+\\]/gi, /\\[Clause\\s+[\\d.]+\\]/gi, /\\(p\\.\\s*\\d+\\)/gi];\nconst found = [];\nfor (const p of patterns) { const m = response.match(p) || []; found.push(...m); }\nconst unique = [...new Set(found)];\nreturn JSON.stringify({ citation_found: unique.length > 0, citations_list: unique, citation_score: Math.min(100, unique.length * 25) });"}},
    {"id": "dab95cb5-7928-4a80-b73d-9cabee1254b0", "name": "snorkel_rubric_evaluator", "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.3, "position": [2176, 656], "parameters": {"description": "Evaluates agent response against Snorkel compliance rubrics. Input JSON string: {\"response\":\"<agent answer>\",\"expected_sections\":[\"Section 4\",\"Section 9\"]}. Returns {rubric_score (0-100), rubric_passed, grade (PASS/MARGINAL/FAIL), details}.", "language": "javaScript", "jsCode": "const input = JSON.parse(query);\nconst { response = \"\", expected_sections = [] } = input;\nlet score = 0;\nconst completeness = response.split(\" \").length > 30;\nconst sectionCoverage = expected_sections.some(s => response.toLowerCase().includes(s.toLowerCase()));\nconst conflictResolution = /however|conflict|supersede|notwithstanding|despite/i.test(response);\nconst legalPrecision = /shall|must|liable|obligation|breach/i.test(response);\nif (completeness) score += 25;\nif (sectionCoverage) score += 35;\nif (conflictResolution) score += 25;\nif (legalPrecision) score += 15;\nreturn JSON.stringify({ rubric_score: score, rubric_passed: score >= 60, grade: score >= 80 ? \"PASS\" : score >= 60 ? \"MARGINAL\" : \"FAIL\", details: { completeness, section_coverage: sectionCoverage, conflict_resolution: conflictResolution, legal_precision: legalPrecision } });"}},
    {"id": "46176323-656d-46bb-a40a-56859f8bb3a0", "name": "Eval Result Schema", "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [2304, 656], "parameters": {"schemaType": "fromJson", "jsonSchemaExample": "{\"question_id\":\"q1\",\"score\":78,\"passed\":false,\"citations_valid\":true,\"rubric_match\":false,\"failure_mode\":\"wrong_section_referenced\",\"reasoning\":\"Agent cited Section 4 but missed the Section 9 conflict.\"}"}},
    {"id": "536d3ed5-db2b-44db-b519-0a5d5d847e81", "name": "Flatten Eval Result", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [2512, 560], "parameters": {"mode": "manual", "includeOtherFields": true, "assignments": {"assignments": [{"id": "eval-score", "name": "eval_score", "value": "={{ $json.output.score }}", "type": "number"}, {"id": "eval-passed", "name": "eval_passed", "value": "={{ $json.output.passed }}", "type": "boolean"}, {"id": "failure-mode", "name": "failure_mode", "value": "={{ $json.output.failure_mode ?? \"none\" }}", "type": "string"}, {"id": "eval-reasoning", "name": "eval_reasoning", "value": "={{ $json.output.reasoning }}", "type": "string"}]}}},
    {"id": "df37d4e3-1855-4981-8b67-e1f30ad360d8", "name": "Aggregate All Eval Results", "type": "n8n-nodes-base.aggregate", "typeVersion": 1, "position": [1472, 96], "parameters": {"aggregate": "aggregateAllItemData", "destinationFieldName": "eval_results", "include": "allFields"}},
    {"id": "d0776b9a-e1aa-4af9-b750-b8fe830d2c57", "name": "Calculate Pass Rate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1696, 96], "parameters": {"mode": "runOnceForAllItems", "jsCode": "const results = $input.all()[0].json.eval_results || [];\nconst total = results.length;\nconst passed = results.filter(r => r.eval_passed === true).length;\nconst passRate = total > 0 ? Math.round((passed / total) * 100) : 0;\nconst avgScore = total > 0 ? Math.round(results.reduce((s, r) => s + (r.eval_score || 0), 0) / total) : 0;\nconst failedItems = results.filter(r => !r.eval_passed).map(r => ({ question: r.question, failure_mode: r.failure_mode, score: r.eval_score, reasoning: r.eval_reasoning }));\nreturn [{ json: { eval_run_id: $input.all()[0].json.eval_run_id || \"unknown\", total_questions: total, passed_count: passed, failed_count: total - passed, pass_rate: passRate, average_score: avgScore, production_ready: passRate >= 90, failed_items: failedItems, evaluated_at: new Date().toISOString() } }];"}},
    {"id": "c1134d96-7471-44f4-b782-9e65888943a4", "name": "Route by Pass Rate", "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [2112, 96], "parameters": {"rules": {"values": [{"outputKey": "production_ready", "conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"leftValue": "={{ $json.pass_rate }}", "operator": {"type": "number", "operation": "gte"}, "rightValue": 90}], "combinator": "and"}}, {"outputKey": "needs_expert_review", "conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"leftValue": "={{ $json.pass_rate }}", "operator": {"type": "number", "operation": "lt"}, "rightValue": 90}], "combinator": "and"}}]}, "options": {"fallbackOutput": "none"}}},
    {"id": "68d70635-63d6-4e52-8333-b5f69518163a", "name": "Log as Production Ready", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2512, 0], "parameters": {"resource": "row", "operation": "create", "tableId": "eval_results", "dataToSend": "defineBelow", "fieldsUi": {"fieldValues": [{"fieldId": "eval_run_id", "fieldValue": "={{ $json.eval_run_id }}"}, {"fieldId": "pass_rate", "fieldValue": "={{ $json.pass_rate }}"}, {"fieldId": "average_score", "fieldValue": "={{ $json.average_score }}"}, {"fieldId": "total_questions", "fieldValue": "={{ $json.total_questions }}"}, {"fieldId": "passed_count", "fieldValue": "={{ $json.passed_count }}"}, {"fieldId": "status", "fieldValue": "PRODUCTION_READY"}, {"fieldId": "evaluated_at", "fieldValue": "={{ $json.evaluated_at }}"}]}}},
    {"id": "8b9826f3-b2f9-447c-b9a4-8d1ed96970e1", "name": "Expert Adjudication Form", "type": "n8n-nodes-base.form", "typeVersion": 2.5, "position": [2512, 192], "parameters": {"operation": "page", "defineForm": "fields", "formFields": {"values": [{"fieldType": "html", "elementName": "eval_context", "html": "<h3>Snorkel AI Expert Calibration Required</h3><p>The RAG agent evaluation has fallen below the 90% pass rate threshold. Review the failed cases and provide corrections to update the golden training dataset.</p>"}, {"fieldName": "eval_run_id", "fieldType": "hiddenField", "fieldValue": "={{ $json.eval_run_id }}"}, {"fieldName": "pass_rate", "fieldType": "hiddenField", "fieldValue": "={{ $json.pass_rate }}"}, {"fieldName": "failed_count", "fieldType": "hiddenField", "fieldValue": "={{ $json.failed_count }}"}, {"fieldName": "root_cause", "fieldLabel": "Root Cause Classification", "fieldType": "dropdown", "fieldOptions": {"values": [{"option": "Citation Missing — Agent failed to cite sources"}, {"option": "Wrong Section Referenced"}, {"option": "Multi-hop Reasoning Failure"}, {"option": "Context Window Truncation"}, {"option": "Hallucination — Agent fabricated a clause"}, {"option": "Edge Case — Rubric needs updating"}]}}, {"fieldName": "corrected_ground_truth", "fieldLabel": "Corrected Ground Truth Answer", "fieldType": "textarea", "placeholder": "Provide the correct answer with proper citations e.g. [Section 4.2]..."}, {"fieldName": "update_training_set", "fieldLabel": "Update Golden Training Dataset?", "fieldType": "dropdown", "fieldOptions": {"values": [{"option": "Yes — Add to golden dataset"}, {"option": "No — Edge case only"}, {"option": "Modify Rubric — Update eval criteria"}]}}, {"fieldName": "expert_notes", "fieldLabel": "Expert Notes", "fieldType": "textarea", "placeholder": "Additional context for the data engineering team..."}]}}, "webhookId": "8fc8d777-2998-4c6d-895f-6e700dc0c497"},
    {"id": "1ca86208-b5df-42f8-8185-6cde718a0765", "name": "Log Expert Correction to Golden Set", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2736, 192], "parameters": {"resource": "row", "operation": "create", "tableId": "expert_corrections", "dataToSend": "defineBelow", "fieldsUi": {"fieldValues": [{"fieldId": "eval_run_id", "fieldValue": "={{ $json.eval_run_id }}"}, {"fieldId": "pass_rate", "fieldValue": "={{ $json.pass_rate }}"}, {"fieldId": "root_cause", "fieldValue": "={{ $json.root_cause }}"}, {"fieldId": "corrected_ground_truth", "fieldValue": "={{ $json.corrected_ground_truth }}"}, {"fieldId": "update_training_set", "fieldValue": "={{ $json.update_training_set }}"}, {"fieldId": "expert_notes", "fieldValue": "={{ $json.expert_notes ?? \"\" }}"}, {"fieldId": "status", "fieldValue": "EXPERT_REVIEWED"}, {"fieldId": "submitted_at", "fieldValue": "={{ $now.toISO() }}"}]}}}
  ],
  "tags": [],
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  }
}
